@using AmDmSite.Models.SiteDataBase
@model IEnumerable<Performer>

<style>
    #counter {
        width: 5%;  
        text-align: center;
    }

    #name {
         width: 85%;   
    }

    #views {
            width: 5%;  
            text-align: center;
            }
</style>

<h1>Исполнители</h1>
<div class="h1__info">Исполнители и самые просматриваемые композиции. Данные по статистике просмотров за неделю.</div>
<table class="items">
    <thead><tr class="top_label"><th colspan="2">Исполнитель</th><th class="number">Песен</th><th class="number">Просмотров</th></tr></thead>
    <tbody>
        @foreach (var performer in Model)
        {
            <tr>
                <td class="photo">
                    <a class="photo" id="photo"><img src=@performer.PathToPhoto title=@performer.Name width="33"> </a>
                </td>
                <td class="artist_name" id="name">
                    <a href="//amdm.ru/akkordi/kino/" class="artist">@performer.Name</a>
                </td>
                <td class="number" id="counter">@performer.Songs.Count </td>
                <td class="number" id="views">@performer.ViewsCount</td>
            </tr>
        }
    </tbody>
</table>