@using AmDmSite.Models.SiteDataBase
@model Song

<div class="col-md-8">
    <div class="h2__info">Текст:</div>
    <div class="text">
        <pre>
    @Model.Text
</pre>
    </div>
</div>
<div class="col-md-4">
    <h2>Аппликатуры аккордов</h2>
    <ul class="Accords">
        @foreach (var accord in Model.Accords)
            {
            <li>
                <a class="photo" id="photo"><img src=@accord.PathToPicture title=@accord.Name width="80"> </a>
            </li>
        }
    </ul>
</div>

